body {
    background-color: green;
    display: flex;
    justify-content: center;
}

.entire-body {
    display: flex;
    width: 75%;
    height: 60vw;
    flex-direction: column;
}

.first-row {
    display: flex;
    width: 100%;
    height: 20vw;
    border-color: aqua;    
    border-style: none;
    flex-direction: row;
    

}
    .block-1 {
        display: flex;
        width: 33.3%;
        height: 20vw;
        border-color: aqua;    
        border-style: solid;
       }

.second-row {
    display: flex;
    width: 100%;
    height: 20vw;
    border-color: aqua;    
    border-style: none;

}

    .block-2 {
        display: flex;
        width: 33.3%;
        height: 20vw;
        border-color: aqua;    
        border-style: solid;
    }

.third-row {
    display: flex;
    width: 100%;
    height: 20vw;
    border-color: aqua;    
    border-style: none;

}

    .block-3 {
        display: flex;
        width: 33.3%;
        height: 20vw;
        border-color: aqua;    
        border-style: solid;
    }

h1 {display: flex;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
    font-size: 6vw;
}